In [3]:
import pandas as pd
from sklearn.impute import SimpleImputer

data = pd.read_csv('marketing_campaign.csv',delimiter=',',header=0)
data.info()

# Check for missing values
if data.isnull().values.any():
    # If there are missing values, fill them in with the most frequent value of each column
    imputer = SimpleImputer(strategy='most_frequent')
    data = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)


# Convert date columns to DateTime objects
data['Dt_Customer'] = pd.to_datetime(data['Dt_Customer'])

# Check for object columns that can be converted to numerical values
for col in data.select_dtypes(include='object').columns:
    try:
        data[col] = pd.to_numeric(data[col])
    except ValueError:
        pass # column contains non-numeric values

data.to_csv('marketing_campaign.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [6]:
import pandas as pd
data = pd.read_csv('marketing_campaign.csv', delimiter=',',header=0)
data['Dt_Customer'] = pd.to_datetime(data['Dt_Customer'])



# Create new column for number of days between 'tDt_Customer' and current date
data['days_since_customer'] = (pd.to_datetime('today') - data['Dt_Customer']).dt.days

# Subtract 'tRecency' from 'tdays_since_dastomer'
data['days_since_customer'] = data['days_since_customer'] - data['Recency']

data['Age'] = 2023 - data['Year_Birth'].astype(int)

data['Spent'] = data['MntWines']+data['MntFruits'] + data['MntMeatProducts']+data['MntFishProducts'] + data['MntSweetProducts'] + data['MntGoldProds']

data['Παιδια']= data['Kidhome']+ data['Teenhome']


together_mask = data['Marital_Status'].str.lower() == 'together'
data['Family Size'] = 1 + data['Kidhome']
data.loc[together_mask, 'Family Size'] += 1

data['Is_Parent'] = data['Παιδια'].apply(lambda x: 'Yes' if x > 0 else 'No')

data['Living_With'] = data['Marital_Status'].apply(lambda x: 'Partner' if x.lower() == 'together' else 'Alone')
data.to_csv('marketing_campaign.csv', index=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 36 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   datetime64[ns]
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
 29  days_since_customer  2240 non-null   int64
 30  Age                  2240 non-null   int64
 31  Spent                2240 non-null   int64
 32  Παιδια               2240 non-null   int64
 33  Family Size          2240 non-null   int64
 34  Is_Parent            2240 non-null   object
 35  Living_With          2240 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(30), object(4)
memory usage: 630.1+ KB

In [ ]:
import pandas as pd
column_names = 'ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response'
data = pd.read_csv('marketing_campaign.csv', delimiter=',', names=column_names.split(','), header=0)